
@import url('https://fonts.googleapis.com/css?family=Capriola');

body {
  background-color: rgb(80, 65, 138);
  background-size: cover;
}

@keyframes grow {
  to {
    width:125%;
  }
from {
    width:75%;
  }
}
#map {
  height: 400px;
  width: 100%;
  /*margin: 10px;*/
  border-radius: 25px;
 }

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: 15px;
  margin-left: 15px;
  box-sizing: border-box;
}

.animate {
  font-family: 'Capriola', sans-serif;
  display:flex;
  justify-content: center;
  margin: 10px;
  animation-name:grow;
  animation-duration: 8s;
  animation-timing-function:ease-in-out;
  animation-delay:1s;
  animation-iteration-count:14;
  animation-direction:alternate;
  animation-fill-mode:backwards;
  color: white;
}

.ui-slider .ui-slider-handle {
position: absolute;
z-index: 2;
width: 2.2em;
height: 1.2em;
cursor: default;
-ms-touch-action: none;
touch-action: none;
font-weight: bold;
border-radius: 40px;
text-align: center;
}

#slider {
  margin: 10px;
  background-color:rgba(233, 233, 215, 0.41);
  color:white;
}

#row {
  line-height: inherit;
}

table {
  display: table;
  color: white;
  background-color:rgb(24, 69, 62, 50%);
  width: 100%;

}
th, td, tr{
  border: .25px dotted white;
  text-align: center;
}

.gm-style .gm-style-iw {
  }
